* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    letter-spacing: 4px;
    text-transform: uppercase;
}
h1 span{
    display: inline-block;
}