* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    background: #111;
    color: #fff;
}

.page1,
.page2,
.page3 {
    height: 100vh;
    width: 100vw;
    background: lightgreen;
}

.page2 {
    background: #111;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.page3 {
    background: plum;
}

.marquee {
    background: #E2FB4A;
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    color: #000;
    padding: 30px 10px;
    flex-shrink: 0;
    width: fit-content;
    justify-content: start;
    transform: translateX(-100%);
}
.marquee h2{
    font-size: 40px;
    text-transform: uppercase;
}
.marquee i{
    font-size: 40px;
}